table {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-cell, .mat-header-cell {
  font-size: max(1em, 1vmin);
}
