<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef> Check</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Image name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef>Image size</th>
    <td mat-cell *matCellDef="let element"> {{ element.size | filesize }} </td>
  </ng-container>
  <ng-container matColumnDef="recognition">
    <th mat-header-cell *matHeaderCellDef>Recognition result</th>
    <td mat-cell *matCellDef="let element"> {{element.recognition}} </td>
  </ng-container>
  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef>Image view</th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.download" mat-raised-button target="_blank">
        <mat-icon>link</mat-icon>
        DOWNLOAD
        <img [src]="element.download" alt="img" width="30px" height="30px"/>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
