<br>
<br>
<div style="text-align:right"><mat-card>
    <p>
		<input type="file" (change)="selectFile($any($event.target).files)">
	</p>
	<div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
	<div style="text-align:center"><img [src]="url" *ngIf="url"></div>
</mat-card>
</div>

