<div style="height: 100vh;">
    <mat-toolbar color="primary" [ngStyle]="{'display':Display}">
      <span class="example-spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <a href="/upload" mat-button routerLinkActive="active" *ngIf="auth.loggedIn">Upload</a>
        <a href="/history" mat-button routerLink="histories" routerLinkActive="active" *ngIf="auth.loggedIn">History</a>
        <a href="/home" mat-button routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
        <a (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a (click)="sidenav.toggle()">Show Side Menu</a>
      </div>
      <app-header-btn (hideHeaderParent)='hideHeader($event)'>Hide</app-header-btn>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
          <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
          <a href="/upload" mat-button routerLinkActive="active" *ngIf="auth.loggedIn">Upload</a>
          <a href="/history" mat-button routerLink="histories" routerLinkActive="active" *ngIf="auth.loggedIn">History</a>
          <a href="/home" mat-button routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
          <a (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
  </div>
