<div id="wrapper">
  <mat-card>
    <img class="login-image" src="assets/imgs/icon.svg"/>
    <mat-card-content>
      <form [formGroup]="userForm"  appearance="outline">
        <h1 class="title">User Login</h1>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>Email id</mat-label>
          <input class="bg-transparente" matInput type="email" placeholder="Email" formControlName="email">
          <mat-hint align="end">Not less than 8 characters long.</mat-hint>
          <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="hasError('email', 'minLength')">You have less than 8 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>https</mat-icon>
          <mat-label>Password</mat-label>
          <input class="bg-transparente"  matInput type="password" placeholder="Password" formControlName="psw">
          <mat-hint align="end">Not less than 8 characters long.</mat-hint>
          <mat-error *ngIf="hasError('psw', 'required')">Password is required</mat-error>
          <mat-error *ngIf="hasError('psw', 'minLength')">You have less than 8 characters</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [routerLink]="'/history'" (click)="onFormSubmit()" class="login-button"
                type="submit" [disabled]="!userForm.valid">Login
        </button>

        <span class="psw">Forgot <a href="#">Username/Password?</a></span>
        <a routerLink="/register" class="btn btn-link">Register</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>

