mat-card {
  width: 90%;
  height: 75%;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
}
::ng-deep .mat-input-underline {
  display: none;
}
input[class~="bg-transparente"] {
  background-color: #e6e6e6;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
mat-card-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::ng-deep .mat-form-field-underline {
  display: none;
  background: #4caf50;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #e6e6e6;
  border-radius: 20px;
  border: none;
  border-left: none;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#wrapper {
  width: 100%;
  height: 100%;
  background-size: 400% 400%;
  animation: change 5s infinite alternate;
  background-image: linear-gradient(to top right, blue , purple 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes change{
  0% {background-position: left;}
  100% {background-position: right;}
}

h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 70px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

.login-button{
  width: 40vh;
  background-color: #6bb842;
  color: white;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  font-size: large;
}

.login-button:enabled:hover {
  background-color: #417327;
}

.login-button:disabled:hover {
  background-color: none;
}

a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 2048px) {
  * {
    font-size: 1.5vw;
  }
  #myImg {
    width: min(1000px, 100%);
  }
}

